body{
    background-color: #F3F1FF;
}
.navbar img{
    width: 40px;
}
.width{
    width: 100%;
}
.heading-color{
    color: #562EFF;
}
.player img{
    width: 56px;
}
main{
    max-width: 870px;
}
.blog img{
    width: 177px;
}
k{
    color: #9F9F9F;
}
span{
  color: #562EFF;
}
.checked {
    color: orange;
  }
  .text{
      color:#AEAEAE;
      ;
  }
  .hight p{
      color:  #FF4A60;
  }
  .hight{
      height: 20px;
      width: 70px;
      background-color: #FFE4E8;
      border-radius: 15px;
  }
  